{% extends 'base.html' %}

{% block title %}| List News{% endblock title %}

{% block content %}
    <h1 class="mb-4">List news {% if category is not None %}by {{ category.name }}{% endif %}</h1>
    <div class="row">
        {% for item in news %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="mb-2">
                            <img src="{{ item.image.url }}" class="w-100" alt="">
                        </div>
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6>{{ item.category.name }}</h6>
                        <h6>
                            {% for tag in item.tags.all %}
                                <span>{{ tag.name }} /</span>
                            {% endfor %}
                        </h6>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'detail_news' id=item.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if news.has_previous or news.has_next %}
            <nav>
                <ul class="pagination">
                    {% if news.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.previous_page_number }}">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in news.paginator.page_range %}
                        {% if news.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if news.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.next_page_number }}">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
{% endblock content %}