{% extends 'base.html' %}

{% block title %}| List News{% endblock title %}

{% block content %}
    <button class="btn btn-outline-success" ><a href="{% url 'create-news' %}">Create News</a></button>
    <h1 class="mb-4">List news {% if category is not None %}by {{ category.name }}{% endif %}</h1>
    <div class="row">
        {% for item in news %}
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div>
                            <img src="{{ item.image.url }}" class="w-100" alt="">
                        </div>
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6>{{ item.category.name }}</h6>
                        <h6>
                            {% for tag in item.tags.all %}
                                <span>{{ tag.name }} /</span>
                            {% endfor %}
                        </h6>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'detail_news' id=item.id %}" class="btn btn-primary">View</a>
                        <a href="{% url 'update-news' id=item.id %}" style="background-color:green;" class="btn btn-primary">EDIT</a>
                        <a href="{% url 'delete-news' id=item.id %}" style="background-color:red;" class="btn btn-primary">DEL</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}