{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление новости</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">

</head>
<body>

<form method="post" action="{% url 'update-news' id=news.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Название новости:</label>
    <input value="{{ news.name }}" type="text" id="name" name="name" maxlength="100" required>
    <br>
    
    <label for="description">Краткое описание:</label>
    <input value="{{ news.description }}" type="text" id="description" name="description" maxlength="200" required>
    <br>
    
    <label for="content">Контент:</label>
    <textarea id="content" name="content" required>{{ news.content }}</textarea>
    <br>
    
    <label for="date">Дата добавления:</label>
    <input value="{{ news.date }}" type="date" id="date" name="date" required>
    <br>
    
    <label for="category">Категория:</label>
    <select id="category" name="category" required>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == news.category_id %} selected {% endif %}>{{ category.name }}</option>
        {% endfor %}
    </select>
    <br>
    
    <label for="tags">Теги:{% for tag_ in news.tags.all %}{{tag_.name}}{% endfor %}</label>
    <select multiple id="tags" name="tags">
        {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
        {% endfor %}
    </select>
    <br>
    
    <label for="image">Изображение:</label>
    <input type="file" id="image" name="image">
    <br>
    
    {% if news.image %}
        <img src="{{ news.image.url }}" alt="Изображение новости">
    {% endif %}
    
    <button type="submit">Обновить новость</button>
</form>

</body>
</html>
