{% extends 'workspace/base.html' %}
{% load static %}

{% block title %}| Change Password{% endblock title %}

{% block content %}
    <h3 class="mb-3">Change Password of the user "{{ request.user.username }}"</h3>
    <div>
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button class="btn btn-success w-100 d-block">Change</button>
        </form>
    </div>

{% endblock content %}